.movie-list {
  list-style-type: none;
}

.movie-list-item {
  display: inline-block;
  margin-right: 20px;
}

.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item:last-child {
  margin-right: 0;
}

.movie-list-item-button {
  background-color: #777;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  padding: 10px 20px;
  text-align: center;
  transition: opacity .2s ease-in-out;
  width: 100%;
}

.movie-list-item-image {
  display: block;
}

.movie-list-item-text {
  margin-right: 0;
}
